@import url("@fingrid/design-system-components/dist/style.css");
@import url("../node_modules/@fingrid/design-system-components/dist/static/styles/variables.css");
@import url("nextra-theme-docs/style.css");

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@layer theme, base, components, utilities;

@font-face {
    font-family: "Lab Grotesque Web";
    src: url("../app/fonts/LabGrotesqueWeb-Light.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lab Grotesque Web";
    src: url("../app/fonts/LabGrotesqueWeb-LightItalic.woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Lab Grotesque Web";
    src: url("../app/fonts/LabGrotesqueWeb-Bold.woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Lab Grotesque Web";
    src: url("../app/fonts/LabGrotesqueWeb-BoldItalic.woff");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Lab Grotesque Web";
    src: url("../app/fonts/LabGrotesqueWeb-Regular.woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Lab Grotesque Web";
    src: url("../app/fonts/LabGrotesqueWeb-Italic.woff");
    font-weight: 500;
    font-style: italic;
}

@theme {
    --font-display: var(--font-lab-grotesque-web);
}

:root {
    html {
        color: var(--color-text-text-primary);
    }

    body {
        font-size: 1rem;
        text-decoration: none;
        font-family: var(--font-display);
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0;
        line-height: 1.5rem;
    }

    h1 {
        font-size: 2.5rem;
        text-decoration: none;
        font-family: var(--font-display);
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0;
        line-height: 2.5rem;
    }

    h2 {
        font-size: 2rem;
        text-decoration: none;
        font-family: var(--font-display);
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0;
        line-height: 2rem;
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.5rem;
        text-decoration: none;
        font-family: var(--font-display);
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0;
        line-height: 1.5rem;
    }

    .nextra-sidebar {
        background-color: var(--color-secondary-secondary-light-4);

        :hover {
            text-decoration-color: var(--color-text-text-highlight);
            color: var(--color-text-text-highlight);
        }

        a {
            border-radius: 0;
        }
        
        .active {
            a {
                background-color: var(--color-brand-fingrid);
                color: var(--color-text-text-invert);
            }
        }
    }
}